/* Normalise css */

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    background-color: #141414;
    padding:0;
    margin: 0;
    font-family: Helvetica,Arial ,sans-serif;
}
*{
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display: none;
}

/* Header Css */
header{
    background-color: transparent;
    position: fixed;
    z-index: 100;
    left:0;
    top: 4;
    width: 100%;
    transition: all ease 600ms;
}
header.black-bg{
    background-color: rgb(20, 20, 20);
}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 100px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item{
    margin-right: 22px;
    color: #e5e5e5;
    opacity: .83;
}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 500;
}
.right-cont svg,  .right-cont img{
    margin-right: 22px;
    cursor: pointer;
}
.right-cont svg{
    color: white;
}
.right-cont img{
    max-width:40px;
}




/* RESPONSIVE CSS */
@media (max-width:767px) {
    .main-nav{
        display: none;
    }
    .banner__overview, .banner__title{
        max-width: 100%;
    }
}